{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Edit contact</h4>
            <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary btn-warning">
                        {{ form_end(delete_form) }}
                    </div>

            </div>
            {% include 'contact/form.html.twig' %}
        </div>
    </div>
{% endblock %}
