{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
        <div class="form-error">
            {{ form_errors(form.firstName) }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
        <div class="form-error">
            {{ form_errors(form.lastName) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.streetAndNumber) }}
        {{ form_widget(form.streetAndNumber) }}
        <div class="form-error">
            {{ form_errors(form.streetAndNumber) }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.zipCode) }}
        {{ form_widget(form.zipCode) }}
        <div class="form-error">
            {{ form_errors(form.zipCode) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        <div class="form-error">
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        <div class="form-error">
            {{ form_errors(form.country) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber) }}
        <div class="form-error">
            {{ form_errors(form.phoneNumber) }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.emailAddress) }}
        {{ form_widget(form.emailAddress) }}
        <div class="form-error">
            {{ form_errors(form.emailAddress) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        {{ form_label(form.birthMonth) }}
        {{ form_widget(form.birthMonth) }}
        <div class="form-error">
            {{ form_errors(form.birthMonth) }}
        </div>
    </div>
    <div class="col-md-3 mb-3">
        {{ form_label(form.birthDay) }}
        {{ form_widget(form.birthDay) }}
        <div class="form-error">
            {{ form_errors(form.birthDay) }}
        </div>
    </div>
</div>
<input type="submit" value="Save" class="form-group btn btn-primary"/>
{{ form_end(form) }}