{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Contacts list</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                    <th>Phone number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.firstName }}</a></td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.emailAddress }}</td>
                        <td>{{ contact.phoneNumber }}</td>
                        <td>
                            <div class="btn-group mr-2">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ path('contact_show', { 'id': contact.id }) }}">Show</a>
                                <a class="btn btn-sm btn-outline-secondary" href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
