{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Create contact</h4>
            {% include 'contact/form.html.twig' %}
        </div>
    </div>


{% endblock %}
