{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ contact.firstName }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('contact_edit', { 'id': contact.id }) }}">
                        Edit
                    </a>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary btn-warning float-md-right">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>First name</th>
                    <td>{{ contact.firstName }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ contact.lastName }}</td>
                </tr>
                <tr>
                    <th>Street and number</th>
                    <td>{{ contact.streetAndNumber }}</td>
                </tr>
                <tr>
                    <th>Zip Code</th>
                    <td>{{ contact.zipCode }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ contact.city }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ contact.country }}</td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td>{{ contact.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>
                        {% if contact.birthDay != 11 and contact.birthDay % 10 == 1 %}
                            {{ contact.birthDay }}<sup>st</sup>
                        {% elseif contact.birthDay != 12 and contact.birthDay == 2 %}
                            {{ contact.birthDay }}<sup>nd</sup>
                        {% elseif contact.birthDay != 13 and contact.birthDay == 3 %}
                            {{ contact.birthDay }}<sup>rd</sup>
                        {% else %}
                            {{ contact.birthDay }}<sup>th</sup>
                        {% endif %}
                        {{ contact.birthMonth }}</td>
                </tr>
                <tr>
                    <th>Email address</th>
                    <td>{{ contact.emailAddress }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5"></div>
{% endblock %}
